div.main {
    border: 1px solid gray;
    padding: 8px;
    margin-bottom: 30px;
  }

  div.box1{
    border: 2px groove red;
    margin: auto;
    padding: 2px 2px 2px 2px;
    width: 300px;
    height: fit-content;
    /* height: 300px;           */
    margin-bottom: 30px;    
  }

  body{
    color: #072408;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p.main{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }

  p.alignlast{
    text-align-last: right;
    letter-spacing: 2px;
  }

  p.direction{
    direction: rtl; /* right to left anlamında */
    unicode-bidi: bidi-override;
  }

  p.direction2{
    direction: rtl;
    unicode-bidi: embed;
  }

  p.direction3{
    direction: rtl;
    unicode-bidi: isolate-override;
  }

  p.direction4{
    direction: rtl;
    unicode-bidi: isolate;
  }

  p.direction5{
    direction: rtl;
    unicode-bidi: plaintext;
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }

  /* Links - LİNKLER - Linkler */

  a.box1:link, a.box1:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.box1:hover, a.box1:active {
    background-color: red;
  }

  a.one:link {color:#ff0000;}
  a.one:visited {color:#0000ff;}
  a.one:hover {color:#ffcc00;}

  a.two:link {color:#ff0000;}
  a.two:visited {color:#0000ff;}
  a.two:hover {font-size:150%;}

  a.three:link {color:#ff0000;}
  a.three:visited {color:#0000ff;}
  a.three:hover {background:#66ff66;}

  a.four:link {color:#ff0000;}
  a.four:visited {color:#0000ff;}
  a.four:hover {font-family:monospace;}

  a.five:link {color:#ff0000;text-decoration:none;}
  a.five:visited {color:#0000ff;text-decoration:none;}
  a.five:hover {text-decoration:underline;}

  a.six:link, a.six:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.six:hover, a.six:active {
    background-color: green;
    color: white;
  }